/* 기본 스타일 */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

header .logo {
  width: 150px; /* 로고의 너비 설정 */
}

header .logo img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.item {
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}

.item img {
  max-width: 100%;
  height: auto;
}

.item h2 {
  margin-top: 10px;
  font-size: 18px;
}

/* 링크 스타일 */
.item a {
  text-decoration: none;
  color: #333;
}

.item a:hover {
  text-decoration: underline;
}

